.container {
    background-image: url("../img/4882066.jpg");
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.inputContainer h1 {
    font-family: "Playfair Display", serif;
    font-size: 3.5rem;
    color: #ffffff;
    margin-bottom: 1.5rem;
}
.inputContainer h1 span {
    color: var(--primary-color);
}
.inputContainer div {
    display: flex;
    margin-bottom: 2rem;
}
.inputContainer input {
    width: 100%;
    padding: 0.5rem 0.2rem 0.5rem 0;
    text-indent: 1rem;
    border: none;
    outline: none;
    font-size: 1rem;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
.inputContainer input::placeholder {
    font-size: 0.9rem;
}
.inputContainer button {
    padding: 0 1rem;
    height: 3rem;
    font-size: 0.8rem;
    text-transform: uppercase;
    font-weight: bold;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    color: #fff;
    background-color: var(--primary-color);
    border: none;
    cursor: pointer;
}

/* Result */
.result {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
}
.result p {
    color: #fff;
    border: 1px solid var(--primary-color);
    padding: 0.5rem 1rem;
    margin-right: 1rem;
}
.result button {
    padding: 0.5rem 1rem;
    color: #fff;
    cursor: pointer;
    background: var(--primary-color);
    border: none;
}
.result button.copied {
    background: #fff;
    color: var(--primary-color);
}
.noData {
    color: #fff;
    font-size: 1rem;
}

/* Result */
.result {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
}
.result p {
    color: #fff;
    border: 1px solid var(--primary-color);
    padding: 0.5rem 1rem;
    margin-right: 1rem;
}
.result button {
    padding: 0.5rem 1rem;
    color: #fff;
    cursor: pointer;
    background: var(--primary-color);
    border: none;
}
.result button.copied {
    background: #fff;
    color: var(--primary-color);
}
.noData {
    color: #fff;
    font-size: 1rem;
}
